{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ meta }}{% endblock %}
{% block content %}
<div class="wrap u-dea6d1e3" >
  <h1 class="u-44c1f7ac" >{{ hero }}</h1>
  <div class="u-33fdf77a" ></div>
  {% for s in sections %}
  <section class="u-6e12ab0d" >
    <h2 class="u-7fdedc9f" >{{ s.h2 }}</h2>
    <p class="u-1454337b" >{{ s.body }}</p>
  </section>
  {% endfor %}
  <div class="u-04ccdcd5" >
    <p class="u-b20d91ab" >آماده‌ای نقشه‌ی آسمان تولدت را ببینی؟</p>
    <a class="btn-lg u-60e32dcb" href="/" >ساخت چارت رایگان</a>
  </div>
</div>
{% endblock %}
